.products {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2%;
  grid-template-areas: "product";
  list-style-type: none;
}
.favorite {
  margin-top: 20px;
}
.productItem {
  grid-area: "product";
  font-weight: 300;
  margin-bottom: 50px;
  cursor: pointer;
}

.productImage {
  width: 100%;
  height: 365px;
  margin-bottom: 8px;
  position: relative;
}

.productImage img {
  width: 100%;
  height: 365px;
  border-radius: 8px;
}

.productFavorite {
  background-color: rgba(255, 255, 255, 0.493);
  position: absolute;
  top: 5px;
  right: 5px;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: red;
}

.productBuy {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  align-items: center;
}

.productPrice {
  font-weight: 500;
  font-size: 18px;
}

.productAdmin {
  display: flex;
}

.productAdmin div {
  background-color: #023047;
}

.productAdmin div + div {
  margin-left: 25px;
  background-color: #d90429;
}

.productAddToCart {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #e63946;
  color: #fff1e6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.productAddToCart i {
  font-size: 24px;
}

.productAddToCart:hover {
  background-color: #fff1e6;
  color: #e63946;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.search span {
  cursor: pointer;
  transition: all 0.1s;
  font-size: 16px;
}

.search span:hover {
  color: teal;
}

.search span + span {
  margin-left: 20px;
}
.searchInner {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.searchInner input {
  width: 300px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #ccc;
  outline: none;
  padding: 0 20px;
  font-size: 16px;
  color: teal;
}

.searchInner i {
  font-size: 32px;
  cursor: pointer;
  padding: 2px 2px;
  background: #f7f7f7;
  border-radius: 50px;
  margin-left: 10px;
  color: teal;
}

.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.pagination li {
  background-color: teal;
  width: 30px;
  height: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pagination li + li {
  margin-left: 10px;
}

@media all and (max-width: 1025px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3.3%;
    margin-bottom: 200px;
  }
  .productImage {
    height: 430px;
    margin-bottom: 8px;
  }
  .productItem {
    margin-bottom: 0;
  }
  .productImage img {
    height: 430px;
    border-radius: 8px;
  }
}

@media all and (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-bottom: 50px;
  }
  .productImage {
    height: 470px;
    margin-bottom: 8px;
  }

  .productImage img {
    height: 470px;
    border-radius: 8px;
  }
}

@media all and (max-width: 426px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
  .productImage {
    height: 270px;
    margin-bottom: 8px;
  }
  .productTitle {
    height: 30px;
  }
  .productImage img {
    height: 270px;
    border-radius: 8px;
  }
  .productAdmin div + div {
    margin-left: 2px;
    background-color: #d90429;
  }
  .search input {
    margin-bottom: 15px;
  }
  .search i {
    margin-bottom: 15px;
  }
}

@media all and (max-width: 376px) {
  .productImage {
    height: 240px;
    margin-bottom: 8px;
  }
  .productImage img {
    height: 240px;
    border-radius: 8px;
  }
  .productAddToCart {
    width: 35px;
    height: 35px;
  }
  .productAddToCart i {
    font-size: 20px;
  }
  .productAdmin div + div {
    margin-left: 0px;
    background-color: #d90429;
  }
}

@media all and (max-width: 321px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 18px;
  }
  .productImage {
    height: 200px;
    margin-bottom: 8px;
  }
  .search input {
    width: 250px;
  }
  .productImage img {
    height: 200px;
    border-radius: 8px;
  }
  .productItem {
    position: relative;
  }
  .productAdmin div + div {
    position: absolute;
    top: 45px;
    right: 3px;
  }
}
