.header {
}

.headerInner {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.headerMenu {
  width: 21%;
  display: flex;
  position: relative;
  cursor: pointer;
}

.headerMenu i {
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 24px;
}

.headerMenu p {
  margin-left: 33px;
  font-weight: 700;
  color: #242424;
  font-size: 18px;
}

.headerLogo {
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 1.5px;
  text-align: center;
  cursor: pointer;
}

.headerMore {
  width: 21%;
  font-size: 20px;
  text-align: end;
  color: #3f3f3f;
  z-index: 99;
  background-color: #fff;
}

.headerMore i {
  font-size: 28px;
  cursor: pointer;
  margin-top: 5px;
}

.headerMore i + i {
  margin-left: 30px;
}

.headerTel {
  display: none;
  font-size: 25px;
  text-align: end;
  color: #3f3f3f;
  margin-top: 5px;
}

@media screen and (max-width: 1024px) {
  .headerMore i {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  .headerInner {
    height: 60px;
  }
  .headerMenu {
    width: 10%;
  }
  .headerMore {
    width: 28%;
  }
}

@media screen and (max-width: 426px) {
  .headerInner {
    height: 60px;
  }
  .headerMenu p {
    display: none;
  }
  .headerMenu {
    width: 20%;
    padding: 10px;
  }
  .headerMore {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 70px;
    padding-top: 5px;
    text-align: center;
    box-shadow: 0px 0px 5px #0000003d;
  }
  .headerMore i:nth-child(1)::after {
    content: "Корзина  ";
    margin-top: 5px;
    font-size: 12px;
    display: block;
    font-family: "PT Root UI", -apple-system;
  }
  .headerMore i:nth-child(2)::after {
    content: "Избранные";
    margin-top: 5px;
    font-size: 12px;
    display: block;
    font-family: "PT Root UI", -apple-system;
  }
  .headerMore i:nth-child(3)::after {
    content: "Выйти";
    margin-top: 5px;
    font-size: 12px;
    display: block;
    font-family: "PT Root UI", -apple-system;
  }
  .headerMore i:nth-child(4)::after {
    content: "Добавить";
    margin-top: 5px;
    font-size: 12px;
    display: block;
    font-family: "PT Root UI", -apple-system;
  }
  .headerTel {
    width: 20%;
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .headerInner {
    height: 50px;
  }
  .headerMenu > span::before {
    content: "";
    top: -4px;
  }
  .headerMenu > span::after {
    content: "";
    top: 6px;
  }
}
