.footer{
    height: 200px;
    background-color: #f4f4f4;
    padding-top: 20px;
}

.footerInner h2{
    text-align: center;
    font-size: 32px;
    font-family: sans-serif;
    cursor: pointer;
}

.footerNetwork{
    display: flex;
    justify-content: space-between;
    width: 500px;
    font-size: 28px;
    margin: 0 auto;
    align-items: center;
    margin-top: 50px;
}

.footerNetwork i{
    cursor: pointer;
}

@media all and (max-width:426px) {
    .footer{
        margin-bottom: 70px;
    }
    .footerNetwork{
        width: 350px;
    }
}


@media all and (max-width:321px) {
    .footerNetwork{
        width: 300px;
    }
}